/* Resetando as configurações padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-weight: 400;
    font-family: sans-serif;
}

:root {
    --purple-100: #F2D5E0;
    --purple-200: #F2A0B6;
    --purple-500: #A66A7A;
    --purple-800: #593640;

    --black-800: #2e0219;
    --black-900: #1d000a;

    --gray-200: #cccccc;
    --gray-400: #505861;

    --white: #F9F9F9;
}

html {
    width: 100%;
    height: 100vh;
}

body {
    background: var(--black-900);
    color: var(--white);
}

h1{
    color: var(--purple-100);
    font-size: 2rem;
    font-weight: 700;
}

h2{
    padding: 1rem;
    color: var(--purple-200);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;

}

h3{
    padding: 1rem;
    color: var(--purple-100);
    font-size: 1.25rem;
    font-weight: 700;
}

p{
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    padding: 0.5rem 0;
    margin-right: 20%;
    margin-left: 5%;
}

/* Definindo as configurações do Flexbox */

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_start {
    display: flex;
    justify-content: flex-start;
}

#header_content {
    height: 80px;
    position: sticky; 
    top: 0; 
    width: 100%; 
    justify-content: space-between;
    padding: 24px;
    background-color: var(--purple-800);
    border-bottom: 1px solid var(--purple-500);
}

#menu li {
    display: inline;
    padding: 1rem;
}

#menu li a {
    text-decoration: none;
    color: var(--purple-100);
    font-size: 20px;
    text-decoration: none;
}

#menu li a:hover {
    color: var(--purple-200);
    text-decoration: underline;
    text-decoration: none;
    background-color: #b48491ad;
    padding: 10px 10px;
}

#menu li a:active {
    color: #1d000a;
}

#about {
    flex-direction: column;
    margin: 2rem auto;
    width: 90%;
}

#conteudo {
    flex-direction: row;
    gap: 2rem;
    display: flex;
}

.img_profile {
    width: 200px;
    border-radius: 50%;
    padding: 5px 5px;
    background-color:#F2A0B6
}

#video {
    flex-direction: column;
    margin: 2rem auto;
    width: 90%;
}

footer {
    flex-direction: column;
    margin: 0;
    padding: 2rem;
    color: var(--white);
    background-color: var(--purple-500);
    font-weight: bold;
    text-align: center;
}

#redes_sociais {
    display: flex;
    justify-content:space-evenly;
    margin: 1rem 0 0 0;
    width: 320px;
}

.social_icon {
    width: 4rem;
    height: 4rem;
    filter: brightness(0)
            saturate(100%)
            invert(100%)
            sepia(0%)
            saturate(7457%)
            hue-rotate(23deg)
            brightness(95%)
            contrast(87%);
}

.social_icon:hover {
    filter: brightness(0)
            saturate(100%)
            invert(10%)
            sepia(10%)
            saturate(4355%)
            hue-rotate(281deg)
            brightness(95%)
            contrast(112%);
}

#contact {
    flex-direction: row;
    gap: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 480px;
    margin: 2rem 0;
    padding: 1.5rem;
    border: none;
}

form label {
    font-size: 1rem;
    text-align: left;
    font-weight: 500;
}

form input,
textarea {
    margin: 0.5 0 1rem;
    padding: 0.5rem;
    border-radius: 1.25rem;
    border: none;
    width: 100%;
    font-size: 1rem;
}

textarea {
    resize: none;
    height: 5rem;
}

form span {
    margin: 0 0 0.5rem 0.75rem;
    font-size: 0.75rem;
    line-height: 1rem;
    color: red;
}

form button {
    text-align: center;
    padding: 0.75rem 2rem;
    background: var(--purple-800);
    border: 1px solid var(--purple-800);
    color: var(--white);
    border-radius: 0.75rem;
    font-weight: 700;
    font-size: 1rem;
}

form button:hover {
    background: var(--purple-500);
}

#mapa {
    width: 480px;
    flex-direction: column;
    gap: 3rem;
}

#endereco > p {
    font-size: 1rem;
    text-align: justify;
    font-weight: 600;
}

.img_projects {
    width: 500px;
}

.flex_container {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1000px) {
    #conteudo {
        flex-direction: column;
    }

    #conteudo img {
        border-radius: 32px;
        border: 2px solid #F2A0B6;
        width: 75vw;
    }   
}